{% extends 'base.html' %}

{% block title %} Edit Profile Page {% endblock %}

{% block content %}


{% if user.is_authenticated %}
	{% if user.id == profile.user.id %}
		<h1> Edit Profile Page.... </h1>

		<br/><br/>
		<dev class="form-group">
		<form method="POST" enctype="multipart/form-data">
			{%csrf_token%}
		
			{{form.as_p}}
		<button class="btn btn-secondary">Update Profile Page</button>
		</form>
		</dev>
	{% else %}
		Your Not A Correct User Of This Page
	{% endif %}

{% else %}
	your not allowed here and you know it!!!!!(please Login first)
{% endif %}

{% endblock %}